* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 251, 248);
}

header {
    display: flex;
    justify-content: space-between; /* Space between is to separate title and nav */
    align-items: center;/* Align items center is to center them vertically */
    padding: 20px 40px;
    margin-bottom: 20px;
    background-color: #F1F5F2;
}
header a{
  text-decoration: none;
}
header a :hover{
    color: #aa5d5d;
}
header h3 ,header b,header strong, header nav{
    background-color: #F1F5F2;
    color: #1d252d; 
}

 nav a {

    background-color: #F1F5F2;
    margin-left: 20px;
    text-decoration: none;
    color: #1d252d; 
    font-weight: 500;
    font-size: larger;
}

.buttonA{
    margin: 40px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #bdd2e9;
    color: rgb(0, 0, 0);
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover{
    background-color: #5d82aa;
    color: white;
    transform: translateY(-2px);
}
.card {
    display: flex; 
    gap: 25px;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    border-radius: 12px;
    background: #F1F5F2;
    align-items: center;
}


.card img {
    width: 25%;          /* 1/4 of the row */
    border-radius: 10px;
}

.the-why {
    background: none;
    width: 75%;          /* 3/4 of the row */
}

.the-why h3 {
    margin-bottom: 10px;
     background: none;
}

.the-why p {
    line-height: 1.5;
    margin-bottom: 10px;
    background: none;
}

.card a {
    color: #262e25;
    text-decoration: none;
     background: none;
     width: 25%;  
    border-radius: 10px;
}
.card a img{
    width: 100%;
}

.watch{
    margin-top :19px;
    height: 34px;
    width: 69px;
    border-radius: 24px;
    background-color: #FF0000;
    color: #F1F5F2;
   display: block;
    margin-left: 40%;
 
    border: #FF0000;
}

.watch:hover{
   background-color: #029e43;
}